{% extends 'bases.html' %}

{% block title %}Articles{% endblock %}

{% block content %}<h1>Welcome to my website made with Flask.</h1>

<h2>First articles.</h2>

<p>Most web applications these days have a navigation bar at the top of the page with a few frequently used links, such as a link to edit your profile, to login, logout, etc. I can easily add a navigation bar to the index.html template with some more HTML, but as the application grows I will be needing this same navigation bar in other pages. I don't really want to have to maintain several copies of the navigation bar in many HTML templates, it is a good practice to not repeat yourself if that is possible</p>{% endblock %}